<!----Button div ---->
<div ng-controller="GoCtrl">
<div class="btndiv" class="row">
    <a ng-click="showcontent('Bodybuilder')" href="#" class="myButton">Bodybuilder</a>
    <a ng-click="showcontent('Athletic')" href="#" class="myButton2">Athletic</a>
    <a ng-click="showcontent('Agile')" href="#" class="myButton3">Agile</a>
</div>
<div style="text-align:center" id="ID">What do you want to be? </div>
<!----Bear mode div ----->


<div  ng-if="content" id='content'>
    <div class="video-container">
        <video autoplay loop width="640" height="360" controls>
            <source src="assets/Arnold.mp4" type="video/mp4"/>
            Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>
    </div>
    <div class='warrior'>Train like a champion. A warrior. Train like legends such as Arnold Schwarzeneggar, Lou
        Ferrigno. Be an unstoppable force.
        Legends aren't born, they are BUILT. This is where you start.
    </div>
    <button type="submit" id="getStarted"><a ui-sref="bodybuilder">Get Started</a></button>

</div>

<!-----Athletic ----->

<div ng-if="content2" id='content2'>
    <div class="video-container">
        <video autoplay loop width="640" height="360" controls>
            <source src="assets/agile.mp4" type="video/mp4"/>
            Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>
    </div>
    <div class='rogue'> Lean, and sculpted.</div>
    <button type="submit" id="getStarted"><a ui-sref="athletic">Get Started</a></button>
</div>

<!---Cardio/Agility --->

<div ng-if="content3" id='content3'>
    <div class="video-container">
        <video autoplay loop width="640" height="360" controls>
            <source src="assets/agile.mp4" type="video/mp4"/>
            Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>
    </div>
    <div class='monk'> Quick, fast, agile.</div>
    <button type="submit" id="getStarted"><a ui-sref="agile">Get Started</a></button>
</div>
<div>