<div ng-controller="spotifyCtrl">
<div id="navbar">
    <input id="spotinput" type="text" placeholder="Song, artist, or track" ng-model="searchInput"/>
    <input id="spotinput"type="text" placeholder="Filter by song" ng-model="filterInput.name">
    <button id="spotbtn" ng-click="searchStuff()">Search</button>
</div>
<div class="result clearfix" ng-repeat="result in results | filter:filterInput:strict">
    <a href="https://play.spotify.com/track/{{result.id}}" target="_blank">
        <div class="forLinking">
            <img class="albumart" src="{{result.album.images[2].url}}"/>

            <div class="tracks">
                <div>
                    {{$index + 1}}
                </div>

                Track Name: {{result.name}} <br/>

                Album Name: {{result.album.name}}
            </div>
        </div>
    </a>
</div>
</div>