<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body ng-controller="spotifyCtrl">
<div id="navbar">
    <input type="text" placeholder="Filter by song" ng-model="filterInput.name">
    <input type="text" placeholder="Song, artist, or track" ng-model="searchInput"/>
    <button ng-click="searchStuff()">Search</button>
</div>
<div class="result clearfix" ng-repeat="result in results | filter:filterInput:strict">
    <a href="https://play.spotify.com/track/{{result.id}}" target="_blank">
        <div class="forLinking">
            <img class="albumart" src="{{result.album.images[2].url}}"/>

            <div class="tracks">
                <div>
                    {{$index + 1}}
                </div>

                Track Name: {{result.name}} <br/>

                Album Name: {{result.album.name}}
            </div>
        </div>
    </a>
</div>
<!-- Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
<script src="spotfiyCtrl.js"></script>
<script src="../../../../spotify/spotifyService.js"></script>
</body>
</html>