<div class="bmi" ng-controller="bmiCtrl">

    <div class="row">
        <div class="col-md-10">
            <p>BMI (Body Mass Index) This tool helps you understand where you should be according to your age.
            </p>

        </div>
    </div>


    <div class="row">
    <div class="col-xs-12">
        <input type="number" ng-model="height"/>Height in inches
    </div>
    <div class="col-xs-12">
        <input type="number" ng-model="weight"/>Weight in pounds
    </div>
    </div>
    <div>{{results}}</div>
    <button type="submit" ng-click='calculate()'>calculate</button>
</div>